<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - managemoney</title>
    <link rel="stylesheet" href="~/css/cabecalho.css" />
    <link rel="stylesheet" href="~/css/inicio.css" />
    <link rel="stylesheet" href="~/css/cadastro.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <header id="home" class="cabecalho">

        <div id="cabecalhoLogoDiv">
            <a id="cabecalhoLogo" asp-action="Inicio">
                <img src="~/img/Geral/logo.svg" id="logoNome" alt="">
                Manage Money
            </a>
        </div>

        <div id="cabecalhoNav">
            <nav>
                <ul>
                    <li>
                        <a href="#sobre" class="linksCabecalho">
                            Sobre
                        </a>
                    </li>
                    <li>
                        <a href="#contato" class="linksCabecalho">
                            Contato
                        </a>
                    </li>
                    <li>
                        <a asp-action="login" class="linksCabecalho">
                            Entrar
                        </a>
                    </li>
                    <li>
                        <a asp-action="cadastro" id="cadastroNav" class="linksCabecalho">
                            Cadastre-se
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
