<main>
    <section class="conteudoPrincipalListagem">
        <h2 class="titulo">Lista de Lançamentos</h2>
        <ul class="listaDeLancamentos">
            <li class="itemListaDeLancamentos">
                <div>
                    <p>
                        Valor: R$ 100,00
                    </p>
                    <p>
                        Data: 18/04/2023
                    </p>
                    <p>
                        Tipo de lançamento: Despesa
                    </p>
                </div>
                <div class="containerDeBotoes">
                    <a href="#" class="botao btnVisualizar">
                        Visualizar
                    </a>
                    <a href="#" class="botao btnEditar">
                        Editar
                    </a>
            <li class="itemListaDeLancamentos">
                <div>
                    <p>
                        Valor: R$ 2.800,00
                    </p>
                    <p>
                        Data: 25/04/2023
                    </p>
                    <p>
                        Tipo de lançamento: Receita
                    </p>
                </div>
                <div class="containerDeBotoes">
                    <a href="#" class="botao btnVisualizar">
                        Visualizar
                    </a>
                    <a href="#" class="botao btnEditar">
                        Editar
                    </a>
                </div>
            </li>
            <li class="itemListaDeLancamentos">

                <div>
                    <p>
                        Valor: R$ 2.600,00
                    </p>
                    <p>
                        Data: 28/04/2023
                    </p>
                    <p>
                        Tipo de lançamento: Receita
                    </p>
                </div>
                <div class="containerDeBotoes">
                    <a href="#" class="botao btnVisualizar">
                        Visualizar
                    </a>
                    <a href="#" class="botao btnEditar">
                        Editar
                    </a>
                </div>
            </li>

        </ul>
    </section>
</main>