@model List<LancamentosViewModel>
@{
    ViewData["Title"] = "Lista Lançamentos";
}

<main class="mainListaLancamentos">
    <section class="conteudoPrincipalListagem">
        <h2 class="titulo">Lançamentos</h2>
        <div class="containerListaLancamentos">
            <a class="botao botaoCriarNovo" asp-controller="lancamento" asp-action="cadastrarLancamento">
                Novo lançamento
            </a>
        </div>
        <ul class="listaDeLancamentos">
            @foreach (var lancamento in Model)
            {
                <li id="@lancamento.Id" class="itemListaDeLancamentos">
                    <div>
                        <p>
                            Valor: @lancamento.Valor
                        </p>
                        <p>
                            Data: @lancamento.DataLancamento.ToString("dd/MM/yyyy")
                        </p>
                        <p>
                            Tipo de lançamento: @lancamento.TipoDeLancamento
                        </p>
                    </div>
                    <div class="containerDeBotoes">
                        <a asp-controller="lancamento" asp-action="detalhesLancamento/{@lancamento.Id}" class="botao btnVisualizar">
                            Editar
                        </a>
                    </div>
                </li>
            }
        </ul>
    </section>
</main>