@model List<LancamentosViewModel>

<main class="mainListaLancamentos">
    <section class="conteudoPrincipalListagem">
        <h2 class="titulo">Lista de Lançamentos</h2>
        <ul class="listaDeLancamentos">
            @foreach (var lancamento in Model)
            {
                <li class="itemListaDeLancamentos">
                    <div>
                        <p>
                            Valor: @lancamento.Valor
                        </p>
                        <p>
                            Data: @lancamento.DataLancamento
                        </p>
                        <p>
                            Tipo de lançamento: @lancamento.TipoDeLancamento
                        </p>
                    </div>
                    <div class="containerDeBotoes">
                        <a href="#" class="botao btnVisualizar">
                            Visualizar
                        </a>
                        <a href="#" class="botao btnEditar">
                            Editar
                        </a>
                    </div>
                </li>
            }
        </ul>
    </section>
</main>