.cabecalho {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    box-shadow: 0px 15px 20px 10px #F7F7F8;
    color: #4bb550;
    background-color: #FFF;
}

#cabecalhoLogo {
    display: flex;
    margin: 2rem;
    text-decoration: none;
    color: #4bb550;
    font-weight: 600;
    align-items: center;
    font-size: 1.4rem;
}

#logoNome {
    margin: 1rem;
    width: 3.4rem;
    height: 3.7rem;
}

#cabecalhoNav > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 22rem;
    margin: 1.5rem;
}

.linksCabecalho {
    text-decoration: none;
    color: #4bb550;
    font-weight: 600;
}

    .linksCabecalho:hover {
        color: #288b2d;
        box-shadow: 0px 15px 20px 10px #F7F7F8;
        transition: 0.5s;
    }

#cadastroNav {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 115px;
    height: 35px;
    border-radius: 30px;
    background-color: #4bb550;
    color: #FFF;
    font-weight: 550;
}

    #cadastroNav:hover {
        background-color: #288b2d;
        transition: 0.5s;
    }

.links {
    text-decoration: none;
    color: #4bb550;
}
